.Product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 25px;
  width: 205px;
  height: 242px;
  padding: 8px;
  background: #f2f2f2;
  border-radius: 8px;
  .image-product {
    width: 190px;
    height: 170px;
  }
  .productDetails {
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: space-between;
    .image-plus {
      width: 29.17px;
      height: 29.17px;
      cursor: pointer;
    }
  }
}
